[Unit]
Description=Daily download of RINEX files from GPS
Requires=nrcan.service

[Timer]
Unit=nrcan.service
OnCalendar=*-*-* 02:30:00 UTC
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
